.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

.env
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
pids
*.pid
*.seed
*.pid.lock

node_modules/
jspm_packages/

*.tsbuildinfo

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

.env.local

.serverless/

.fusebox/

.dynamodb/

.tern-port

.vscode-test
.vercel

# backend
backend/node_modules/
backend/dist/
backend/build/
backend/coverage/
backend/.nyc_output/

# frontend
frontend/node_modules/
frontend/dist/
frontend/out/
frontend/build/
frontend/coverage/
frontend/.nyc_output/
frontend/.angular/

frontend/src/environments/environment.ts
frontend/src/environments/environment.prod.ts
frontend/src/environments/environment.development.ts

CRM - Requerimientos.pdf

crm_req.txt
matriz-cumplimiento-final.md
resumenEjecutivo-Modulo-1.md
resumenEjecutivo-Modulo-2.md
resumenEjecutivo-Modulo-3.md
resumenEjecutivo-Modulos-Extras.md

backend/request.http
backend/src/jobs/reminder.job.ts
archivos MD/
docs/
marco-teorico.md